ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    max-width: 140px;
    max-height: 280px;
    text-decoration: none;
}

.list__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-large);
    width: 100%;
    max-width: 1200px;
    margin: var(--spacing-large) auto;
}

.list__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.list__img{
    max-width: 140px;
    max-height: 280px;
    object-fit: fill;
    margin-bottom: var(--spacing-small)
}

.list__title{
    color: var(--color-white);
    font-size: 16px;
}