.favorite__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.favorite__heading{
    color: var(--theme-color-yellow);
    font-size: 32px;
    margin-right: var(--spacing-medium);
}