.text{
    color: var(--theme-color-yellow);
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.video{
    margin: 0 auto;
}

.Error__container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}