:root{
  --color-bgc: #111111;
  --color-white: rgb(240, 248, 255);
  --color-disabled: #202020;
  --theme-color-yellow: #cfcf00;
  --theme-color-neutral: #ef5fe6;
  --theme-color-light: #307231;
  --theme-color-dark: #db393f;
  --spacing-large: 32px;
  --spacing-medium: 16px;
  --spacing-small: 8px;
}

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 18px;
  background-color: var(--color-bgc);
  color: var(--color-white);
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--theme-color-yellow);
}