.favorite__link{
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: underline;
    margin-right: var(--spacing-small);
    transition: color .3s ease-out;
}

.favorite__counter{
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-white);
    transition: color .3s ease-out;
}

.favorite__link:hover{
    color: var(--theme-color-yellow)
}