.plb__link{
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: underline;
    margin-right: var(--spacing-large);
    transition: color .3s ease-out;
}

.plb__link:hover{
    color: var(--theme-color-yellow);
}