.people__title{
    color: var(--theme-color-yellow);
    font-size: 32px;
    margin-bottom: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.pn__group{
    display: flex;
    align-items: center;
}

.pn__btn{
    padding: var(--spacing-small) var(--spacing-medium);
    border: 2px solid var(--color-white);
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-white);
    font-size: 16px;
    margin-right: var(--spacing-medium);
    cursor: pointer;
    transition-property: color, border-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.pn__btn:hover{
    color: var(--theme-color-yellow);
    border-color: var(--theme-color-yellow);
}

.pn__btn:disabled{
    color: var(--color-disabled);
    border-color: var(--color-disabled);
    cursor: default;
}