:root{
    --color-bgc: #111111;
    --color-black: #090909;
    --color-white: rgb(240, 248, 255);
    --color-disabled: #202020;
    --theme-color-yellow: #ffff00;
    --spacing-large: 32px;
    --spacing-medium: 16px;
    --spacing-small: 8px;
  }
